:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  overflow: hidden; /* Evita scroll horizontal */
}


.download-btn {
  background: #F85F5F;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  margin-top: 30px;
  margin-bottom: 40px;
}

.download-btn:hover {
 transform: scale(1.03);
}

.pdf-viewer {
  width: 80%;
  height: 1122px;
  border: none;
}

.pdf-images img {
  display: block;      
  margin: 0 auto 16px;
  width: 90%;
  height: auto;
}



