<div class="contenedor">
    <div class="titulo">
        <h2>{{ textos.tituloComponentes }}</h2>
    </div>
    <div class="componentes-container">
        <div class="componente">
           <app-teclas></app-teclas>
        </div>
        <div class="componente">
           <app-audio></app-audio>
        </div>
        <div class="componente">
           <app-firma></app-firma>
        </div>
        <div class="componente">
           <app-animado></app-animado>
        </div>
    </div>
</div>


