<nav>
  <div class="navIzq">
      <img src="/assets/img/logoBlanco.png" alt="logo" class="logo">
  </div>

  <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
  </div>

  <div class="navDer" [class.active]="menuAbierto">
      <a routerLink="/inicio" class="boton">
          <i class="far fa-home iconosNav"></i> {{ textos.inicio }}
      </a>
      <a routerLink="/sobre-mi" class="boton">
          <i class="far fa-user iconosNav"></i> {{ textos.sobreMi }}
      </a>
      <a routerLink="/CV" class="boton">
          <i class="far fa-file-lines iconosNav"></i> {{ textos.cv }}
      </a>
      <button class="boton" (click)="toggleIdioma()">
          <i class="fas fa-globe iconosNav"></i> {{ idiomaActual?.toUpperCase() }}
      </button>
  </div>
</nav>
