<div class="sobremi">
    <div class="sobreMiArriba">
        <p class="titulo">{{ textos.titulo }}</p>
        <p class="descripcion">
            {{ textos.descripcion }}
        </p>
    </div>

    <div class="sobreMiAbajo">
        <button class="boton" 
                [ngClass]="{ activo: tabSeleccionado === 'experiencia' }"
                (click)="cambiarTab('experiencia')">
            <span class="icono">💼</span>
            {{ textos.experiencia }}
        </button>

        <button class="boton"
                [ngClass]="{ activo: tabSeleccionado === 'educacion' }"
                (click)="cambiarTab('educacion')">
            <span class="icono">🎓</span>
            {{ textos.educacion }}
        </button>

        <button class="boton"
                [ngClass]="{ activo: tabSeleccionado === 'tecnologias' }"
                (click)="cambiarTab('tecnologias')">
            <span class="icono">💻</span>
            {{ textos.tecnologias }}
        </button>

        <button class="boton"
                [ngClass]="{ activo: tabSeleccionado === 'proyectos' }"
                (click)="cambiarTab('proyectos')">
            <span class="icono">🗂️</span>
            {{ textos.proyectos }}
        </button>
    </div>

    <!-- CONTENIDO DE LOS TABS -->
    <div class="contenido" *ngIf="tabSeleccionado" [ngClass]="{ 'contenido-borde': tabSeleccionado === 'experiencia' }">

        <!-- Contenedor de experiencia -->
        <div *ngIf="tabSeleccionado === 'experiencia'" class="experiencia">
            <div class="trabajos">

                <!-- Trabajo 1 -->
                <div class="trabajo">
                <div>
                    <h1 class="empresa">Infosolutions & Internet Services S.L.</h1>
                </div>
                <div class="trabajoCont" *ngFor="let item of textos.experienciaDetalle">
                    <div class="izquierda">
                        <h2>{{ item.titulo }}</h2>
                        <p>{{ item.periodo }}</p>
                    </div>
                    <div class="derecha">
                        <p>{{ item.descripcion }}</p>
                    </div>
                </div>
                </div>

                <!-- Trabajo 2 -->
                <div class="trabajo">
                <div>
                    <h1 class="empresa">BSH Electrodomésticos España S.A.</h1>
                </div>
                <div class="trabajoCont" *ngFor="let item of textos.experienciaDetalle">
                    <div class="izquierda">
                        <h2>{{ item.titulo2 }}</h2>
                        <p>{{ item.periodo2 }}</p>
                    </div>
                    <div class="derecha">
                        <p>{{ item.descripcion2 }}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <!-- Contenedor de educacion -->
        <div *ngIf="tabSeleccionado === 'educacion'" class="educacion">
            <div class="grados">
                <div class="grado" *ngFor="let item of textos.educacionDetalle">
                <div class="gradoInfo">
                    <h3 class="gradoTitulo">{{ item.titulo }}</h3>
                    <span class="institucion">{{ item.institucion }}</span>
                    <span class="periodo">{{ item.periodo }}</span>
                </div>
                <div class="gradoDescripcion">
                    <p>{{ item.descripcion }}</p>
                </div>
                </div>
            </div>
        </div>


        <!-- Contenedor de tecnologias -->
        <div *ngIf="tabSeleccionado === 'tecnologias'" class="tecnologias">
            <div class="divBotones">
                <button class="botonTecno" [ngClass]="{ 'activo': seccion === 'frontend' }" (click)="seleccionar('frontend')">Frontend</button>
                <button class="botonTecno" [ngClass]="{ 'activo': seccion === 'backend' }" (click)="seleccionar('backend')">Backend</button>
                <button class="botonTecno botonBD" [ngClass]="{ 'activo': seccion === 'bd' }" (click)="seleccionar('bd')">{{ textos.bd }}</button>
                <button class="botonTecno" [ngClass]="{ 'activo': seccion === 'frameworks' }" (click)="seleccionar('frameworks')">Frameworks</button>
                <button class="botonTecno botonOtros" [ngClass]="{ 'activo': seccion === 'herramientas' }" (click)="seleccionar('herramientas')">{{ textos.herramientas }}</button>
            </div>
        
            <!-- Contenidos -->
            <div class="contenidoTecno">
                <div *ngIf="seccion === 'frontend'" class="front">
                    <div class="contenidoLenguajes">
                        <h3 class="tituloFront">HTML</h3>
                        <i class="fa-brands fa-html5 iconoHtml iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">CSS3</h3>
                        <i class="fa-brands fa-css3-alt iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">JavaScript</h3>
                        <i class="fa-brands fa-js iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">TypeScript</h3>
                        <i class="fa-solid fa-code iconoFront"></i>
                    </div>
                </div>

                <div *ngIf="seccion === 'backend'" class="back">
                    <div class="contenidoLenguajes">
                        <h3 class="tituloFront">PHP</h3>
                        <i class="fa-brands fa-php iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">Java</h3>
                        <i class="fa-brands fa-java iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">Python</h3>
                        <i class="fa-brands fa-python iconoFront"></i>
                    </div>
                </div>

                <div *ngIf="seccion === 'bd'" class="bd">
                    <div class="contenidoLenguajes">
                        <h3 class="tituloFront">SQL</h3>
                        <i class="fa-solid fa-database iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">MongoDB</h3>
                        <i class="fa-brands fa-mdb iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">PostgreSQL</h3>
                        <i class="fa-solid fa-server  iconoFront"></i> 
                    </div>
                </div>

                <div *ngIf="seccion === 'frameworks'" class="frameworks">
                    <div class="contenidoLenguajes">
                        <h3 class="tituloFront">Angular</h3>
                        <i class="fa-brands fa-angular iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">React</h3>
                        <i class="fa-brands fa-react iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">Node</h3>
                        <i class="fa-brands fa-node-js  iconoFront"></i> 
                    </div>
                </div>

                <div *ngIf="seccion === 'herramientas'" class="herramientas">
                    <div class="contenidoLenguajes">
                        <h3 class="tituloFront">GitHub</h3>
                        <i class="fa-brands fa-github iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">VSCode</h3>
                        <i class="fa-solid fa-file-code iconoFront"></i>
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">Figma</h3>
                        <i class="fa-solid fa-palette  iconoFront"></i> 
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">IA</h3>
                        <i class="fa-solid fa-robot  iconoFront"></i> 
                    </div>
                    <div class="contenidoLenguajes">
                        <h3  class="tituloFront">APIs</h3>
                        <i class="fa-solid fa-plug  iconoFront"></i> 
                    </div>
                </div>
            </div>
        </div>

        <!-- Contenedor de poryectos -->
        <div *ngIf="tabSeleccionado === 'proyectos'" class="proyectosM">
            <div class="proyectos">
                <div class="proyecto">
                    <div class="proyectoFoto">
                        <img src="assets/img/filmogram.png" alt="Filmogram" class="fotoProyecto">
                    </div>

                    <div class="proyectoDescripcion">
                        <div class="proyectoInfo">
                            <h3 class="proyectoTitulo">Filmogram</h3>
                            <p class="proyectoResumen">
                                 {{ textos.descripcionProyectoFilmogram }}
                            </p>
                        </div>
                        <div class="proyectoTecnologias">
                            <button class="botonProyecto"><i class="fab fa-node-js" style="color: #68A063;"></i> Node.js</button>
                            <button class="botonProyecto"><i class="fas fa-file-code" style="color: #3178C6;"></i> TypeScript</button>
                            <button class="botonProyecto"><i class="fab fa-react" style="color: #61DAFB;"></i> React</button>
                            <button class="botonProyecto"><i class="fas fa-database" style="color: #00758F;"></i> MySQL</button>
                            <button class="botonProyecto"><i class="fas fa-network-wired" style="color: #20c997;"></i> APIs</button>
                            <button class="botonProyecto"><i class="fas fa-paint-brush" style="color: #88e4eb;"></i> Tailwind</button>
                            <button class="botonProyecto"><i class="fab fa-html5" style="color: #E34F26;"></i> HTML</button>
                        </div>
                    </div>
                </div>

                <div class="proyecto">
                    <div class="proyectoFoto">
                        <img src="assets/img/booknest.png" alt="Filmogram" class="fotoProyecto">
                    </div>

                    <div class="proyectoDescripcion">
                        <div class="proyectoInfo">
                            <h3 class="proyectoTitulo">Booknest</h3>
                            <p class="proyectoResumen">
                                {{ textos.descripcionProyectoBooknest }}
                            </p>
                        </div>
                        <div class="proyectoTecnologias">
                            <button class="botonProyecto"><i class="fab fa-node-js" style="color: #68A063;"></i> Node.js</button>
                            <button class="botonProyecto"><i class="fas fa-file-code" style="color: #3178C6;"></i> TypeScript</button>
                            <button class="botonProyecto"><i class="fab fa-react" style="color: #61DAFB;"></i> React</button>
                            <button class="botonProyecto"><i class="fas fa-database" style="color: #00758F;"></i> MySQL</button>
                            <button class="botonProyecto"><i class="fas fa-network-wired" style="color: #20c997;"></i> APIs</button>
                            <button class="botonProyecto"><i class="fas fa-paint-brush" style="color: #88e4eb;"></i> Tailwind</button>
                            <button class="botonProyecto"><i class="fab fa-html5" style="color: #E34F26;"></i> HTML</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
