.animado-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0E0C12;
  border-radius: 20px;
  border: 1px solid rgb(99, 99, 99);
  width: 100%;
  max-width: 600px;
  height: 340px;
  position: relative;
  overflow: hidden;
}

/* Forzar altura mínima del canvas para evitar offsetHeight = 0 */
.renderer {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.code-container {
  display: flex;
  background-color: #0E0C12;
  border-radius: 20px;
  border: 1px solid rgb(51, 51, 51);
  width: 100%;
  height: 340px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.arribaComponente{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 6px;
}

.arribaComponente h3{
    font-size: 17px;
}

.buttons {
  display: flex;
  gap: 7px;
}

.code-btn,
.copy-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.code-btn:hover,
.copy-btn:hover {
  background: #F85F5F;
}

.code-block {
  width: 100%;             /* Ocupa todo el ancho del contenedor */
  height: 100%;            /* Ocupa toda la altura del contenedor */
  padding: 10px 15px;      /* Padding interno, más pequeño que antes */
  background: #1e1e1e;
  color: #d4d4d4;
  overflow: auto;          /* Scroll vertical y horizontal si es necesario */
  border-radius: 20px;
  font-family: 'Fira Code', monospace;
  font-size: 0.8rem;       /* Letras más pequeñas para caber mejor */
  line-height: 1.4;        /* Espaciado de línea cómodo */
  box-sizing: border-box;
}

/* Scrollbar para Webkit (Chrome, Edge, Safari) */
.code-block::-webkit-scrollbar {
    width: 8px; /* grosor vertical */
    height: 8px; /* grosor horizontal */
}

.code-block::-webkit-scrollbar-track {
    background: #1a1a1a; /* color del track */
    border-radius: 20px;
    margin: 10px;
}

.code-block::-webkit-scrollbar-thumb {
    background-color: #555; /* color del pulgar */
    border-radius: 20px;
    border: 2px solid #1a1a1a; /* pequeño espacio alrededor */
}

.code-block::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* efecto hover */
    cursor: pointer;
}

/* Toast */
.copy-toast {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #F85F5F;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}
