
    <div class="inicio">
        <div class="inicioIzq">
            <div class="presentacion">
                <p>Hola</p>
                <p>Soy <span id="nombreJaime">Jaime Romero...</span></p><br>
                <p class="cambiante">{{ textoActual }}</p>
            </div>
            <div class="redes">
                <div class="nombreRedes">
                    <p>Mis redes</p>
                </div>
                <div class="botonesRedes">
                    <button class="boton">a</button>
                    <button class="boton">a</button>
                    <button class="boton">a</button>
                    <button class="boton">a</button>
                </div>
            </div>
        </div>
        <div class="inicioDer">
            <img src="assets/img/fotoJaime.jpg" alt="fotoJaime" class="fotoJaime">
        </div>
    </div>
