<div class="inicio">
  <div class="inicioIzq">
    <div class="presentacion">
      <p>{{ textos.fondo }}<span class="mano">👋🏻</span></p>
      <p>{{ textos.soy }} <span id="nombreJaime"> Jaime Romero...</span></p><br>
      <p class="cambiante">{{ textoActual }}</p>
    </div>
    <div class="redes">
      <div class="nombreRedes">
        <p class="nombreRedes">{{ textos.misRedes }}</p>
      </div>
      <div class="botonesRedes">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jaimeromerohernandez4@gmail.com" target="_blank" rel="noopener noreferrer">
          <button class="boton">
            <i class="fas fa-envelope"></i>
          </button>
        </a>
        <a href="https://github.com/jaime-rh" target="_blank" rel="noopener noreferrer">
          <button class="boton">
            <i class="fab fa-github"></i>
          </button>
        </a>
        <a href="https://www.linkedin.com/in/jaime-romero-hern%C3%A1ndez-b2b7b81ba/" target="_blank" rel="noopener noreferrer">
          <button class="boton">
            <i class="fab fa-linkedin"></i>
          </button>
        </a>
        <a href="https://wa.me/662172429" target="_blank" rel="noopener noreferrer">
          <button class="boton">
            <i class="fab fa-whatsapp"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="inicioDer">
    <img src="assets/img/fotoJaime.jpg" alt="fotoJaime" class="fotoJaime">
  </div>
</div>
