:host{
    z-index: 20;
}

p{
    color: white;
    font-size: 40px;
    letter-spacing: -1.8px;
}

.inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13%;
    padding: 0;
    align-items: center;
    margin-top: 80px;
}

.inicioIzq{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 100px;
}

.inicioDer{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.fotoJaime{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.redes{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 100px;
}

.nombreRedes{
    display: flex;
    justify-content: center;
}

.botonesRedes{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.boton{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#nombreJaime{
    color: #F85F5F;
    font-weight: bolder;
}

.cambiante {
  font-size: 24px;
  white-space: nowrap;
  border-right: 2px solid #ffffff;
  width: fit-content;
  animation: parpadeoCursor 0.7s steps(1) infinite;
}

@keyframes parpadeoCursor {
  50% { border-color: transparent; }
}
