
    <div class="inicio">
        <div class="inicioIzq">
            <div>
                <p>Hola</p>
                <p>Soy Jaime Romero</p><br>
                <p>Desarrollador Full Stack</p>
            </div>
            <div class="redes">
                <div class="nombreRedes">
                    <p>Mis redes</p>
                </div>
                <div class="botonesRedes">
                    <button>email</button>
                    <button>git</button>
                    <button>linke</button>
                    <button>wasap</button>
                </div>
            </div>
        </div>
        <div class="inicioDer">
            <img src="assets/img/fotoJaime.jpg" alt="fotoJaime" class="fotoJaime">
        </div>
    </div>
